body {
    background: linear-gradient(white, black);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

body::after {
    content: "";
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.start-container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 70px;
    height: 100vh;
}

.problems-container {
    display: grid;
    grid-template: 45% 45% 8.5% 1.5% / 50% 50%;
    height: 100vh;
}

.block1 {
    grid-area: 1/1/2/2;
    background-color: blue;
    opacity: 1;
}

.block2 {
    grid-area: 1/2/2/3;
    background-color: red;
    opacity: 0.4;
}

.block3 {
    grid-area: 2/1/3/2;
    background-color: magenta;
    opacity: 0.4;
}

.block4 {
    grid-area: 2/2/3/3;
    background-color: lime;
    opacity: 0.4;
}

.textblock {
    grid-area: 3/1/4/3;
    word-wrap: break-word;
    overflow: hidden;
}

.heading {
    grid-row: 1/2;
}

h1 {
    margin: 0;
    padding-top: 10px;
    font-size: 120px;
    font-weight: bolder;
    color: rgb(54, 54, 54);
    text-align: center;
}

.heading2 {
    grid-row: 2/3;
}

h2 {
    margin-top: 0;
    font-size: 50px;
    font-weight: bold;
    color: rgb(54, 54, 54);
    text-align: center;
}

.start-btn {
    grid-row: 3/4;
    display:block;
    margin:100px auto 0;
    width:200px;
    height:50px;
    background-color:#444;
    color:#fff;
    font-size:1.5rem;
    font-weight:bold;
    border-radius:20px;
    border:0 solid transparent ;
    box-shadow:0px 5px 7px 0px rgba(0,0,0,0.7);
    transition:all 300ms ease-in-out;
    outline: none;
}
.start-btn:hover {
    box-shadow:0px 30px 7px -20px rgba(0,0,0,0.5);
    transform:translate(0px, -15px);
    background-color:black;
    cursor: pointer;
}

.exp-text {
    grid-row: 4/5;
}

p {
    text-align: center;
    color: white;
}

.exp-text {
    text-shadow: 
    0 1px 0 #ccc;
}

.text-input {
    font-size: 23.11px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: white;
    text-shadow: 
    0 1px 0 #ccc;
}

.input-message {
    font-size: 23.11px;
    margin-top: 2px;
    margin-bottom: 0px;
    text-align: left;
    color: #666;
}

.block1-message {
    font-size: 40px;
}

.block1-problem {
    font-size: 35px;
}

.block2-message {
    font-size: 40px;
}

.block2-problem {
    font-size: 35px;
}

.block3-message {
    font-size: 40px;
}

.block3-problem {
    font-size: 35px;
}

.block4-message {
    font-size: 40px;
}

.block4-problem {
    font-size: 35px;
}